*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  tab-size: 4; /* 4 */
}

body {
  margin: 0;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

.tic-tac-toe {
  position: absolute;
  place-self: anchor-center;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
}

#gameboard {
  --board: 360px;

  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  grid-row: 1;
  grid-column: 2;
  gap: 0.35rem;
  width: var(--board);
  height: var(--board);
  margin-inline: auto;

  div {
    font-size: 7rem;
    font-family: cursive;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #f6c900;

    p {
      margin: 0;
      margin-top: -20px;
    }
  }
}

.reset button {
  display: none;
}

.section-one {
  grid-column: 1;
}

.section-two {
  grid-column: 3;
}

.section-one,
.section-two {
  text-align: center;
}

.reset,
.new-game {
  width: fit-content;
  grid-row: 2;
  grid-column: 2;
  margin-top: 2rem;
  margin-inline: auto;
}

.player-one-title,
.player-two-title,
.score-title {
  font-weight: 600;
  font-size: 2rem;
}

.player-one-name,
.player-two-name,
.score-value {
  font-size: 1.75rem;
}

.player-one-title,
.player-two-title {
  margin-bottom: 0.625rem;
}

.player-one-name,
.player-two-name {
  margin-top: 0.625rem;
}

.score-title {
  margin-bottom: 0.625rem;
}

.score-value {
  margin-top: 0.625rem;
}

.new-game button,
.reset button {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  color: rgb(66, 63, 63);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: rgb(175, 246, 255);
  border: 2px solid rgb(80, 235, 255);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(77, 119, 124);
    border-radius: inherit;
    box-shadow:
      0 0 0 2px rgb(175, 246, 255),
      0 0.625em 0 0 rgb(220 251 255);
    transform: translate3d(0, 0.75em, -1em);
    transition:
      transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  &:hover {
    background: rgb(80, 223, 241);
    transform: translate(0, 0.25em);
    &::before {
      box-shadow:
        0 0 0 2px rgb(80, 235, 255),
        0 0.5em 0 0 rgb(220 251 255);
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &:active {
    background: rgb(80, 227, 247);
    transform: translate(0em, 0.75em);
    &::before {
      box-shadow:
        0 0 0 2px rgb(80, 235, 255),
        0 0 rgb(220 251 255);
      transform: translate3d(0, 0, -1em);
    }
  }
}

.reset button {
  background: rgb(243, 72, 166);
  border: 2px solid rgb(100, 32, 70);

  &::before {
    background: rgb(124, 77, 103);
    box-shadow:
      0 0 0 2px rgb(255, 175, 235),
      0 0.625em 0 0 rgb(255, 220, 242);
  }

  &:hover {
    background: rgb(241, 80, 206);

    &::before {
      box-shadow:
        0 0 0 2px rgb(255, 80, 217),
        0 0.5em 0 0 rgb(255, 220, 253);
    }
  }

  &:active {
    background: rgb(247, 80, 205);

    &::before {
      box-shadow:
        0 0 0 2px rgb(255, 80, 217),
        0 0 rgb(255, 220, 246);
    }
  }
}
